Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [12]:
import pandas as pd

ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings_count = ratings.groupby('userId').count().reset_index()
ratings_count = ratings_count[['userId', 'rating']]
ratings_count100 = ratings_count[ratings_count['rating'] > 100]
ratings_date = ratings[['userId', 'timestamp']]
rating_max = ratings_date.groupby('userId').max().reset_index()
rating_min = ratings_date.groupby('userId').min().reset_index()
rating_max.rename(columns={'timestamp': 'timestamp_max'}, inplace=True)
rating_min.rename(columns={'timestamp': 'timestamp_min'}, inplace=True)
ratings_avg = ratings_count100.merge(rating_max, how='inner').merge(rating_min, how='inner')

ratings_avg['avg'] = ratings_avg.apply(average, axis=1)
print(ratings_avg.head())

def average(date):
    mean = (date['timestamp_max'] - date['timestamp_min'])
    return mean

   userId  rating  timestamp_max  timestamp_min        avg
0       4     204      949982274      949778714     203560
1       8     116     1154474527     1154389340      85187
2      15    1700     1469330735      997937239  471393496
3      17     363     1127476640     1127468587       8053
4      19     423      855195373      855190091       5282

В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:

Прочитайте содержимое файла с датафрейм Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

regex_url = r'/\d{8}-'

In [7]:
import pandas as pd

regex_url = r'/\d{8}-'

url=pd.read_csv("URLs.txt", sep="\n")
url=url.loc[url["url"].str.contains(r'/\d{8}-')]
url

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
..                                                ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

[84 rows x 1 columns]

В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [6]:
import pandas as pd
from pymystem3 import Mystem
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})
temp = Mystem()
data['lemmas']=data.apply(lambda row: temp.lemmatize(row.keyword) , axis=1)
data['lemmas']=data.apply(lambda row: ' '.join(row.lemmas) , axis=1)
data.head()

                 keyword   shows                        lemmas
0    курс гривны к рублю  125076  курс   гривна   к   рубль \n
1        доллары в рубли  114173         доллар   в   рубль \n
2  100 долларов в рублях   97534   100   доллар   в   рубль \n
3             курс рубля   53546               курс   рубль \n